<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">

        <link rel="shortcut icon" type="favicon" href="{% static "BroadviewCOSS/images/szfesc.ico" %}">

        <link rel="stylesheet" type="text/css" href="{% static "BroadviewCOSS/css/main.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "BroadviewCOSS/css/font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "BroadviewCOSS/css/jquery.datetimepicker.min.css" %}">

        {% block css %}
        {% endblock css %}

        {% block title %}
        {% endblock title %}
    </head>
    <body {% block bodyattrs %} {% endblock bodyattrs %}>
        {% block context %}
        {% endblock context %}

        {% block modal %}
        {% endblock modal %}

        <script src="{% static "BroadviewCOSS/js/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "BroadviewCOSS/js/popper.min.js" %}"></script>
        <script src="{% static "BroadviewCOSS/js/bootstrap.min.js" %}"></script>
        <script src="{% static "BroadviewCOSS/js/plugins/pace/pace.min.js" %}"></script>
        <script src="{% static "BroadviewCOSS/js/plugins/validation/jquery.validate.min.js" %}"></script>
        <script src="{% static "BroadviewCOSS/js/plugins/validation/messages_zh.min.js" %}"></script>
        <script src="{% static "BroadviewCOSS/js/plugins/dataTables/js/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "BroadviewCOSS/js/plugins/dataTables/js/dataTables.bootstrap4.min.js" %}"></script>
        <script src="{% static "BroadviewCOSS/js/plugins/select2/select2.min.js" %}"></script>
        <script src="{% static "BroadviewCOSS/js/plugins/select2/zh-CN.js" %}"></script>
        <script src="{% static "BroadviewCOSS/js/plugins/sweetalert/sweetalert.min.js" %}"></script>
        <script src="{% static "BroadviewCOSS/js/plugins/datetimepicker/jquery.datetimepicker.full.min.js" %}"></script>

        {% block js %}
        {% endblock js %}

        <script src="{% static "BroadviewCOSS/js/main.js" %}"></script>
    </body>
</html>