{% extends "BroadviewCOSS/master.html" %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> 首页</h1>
            <p></p>
            <p></p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i> 首页</li>
        </ul>
    </div>
    <div class="tile mb-4">
        <div class="row">
            <div class="col-md-6">
                <div class="bs-component">
                    欢迎登陆运维调度平台
                </div>
            </div>
        </div>
    </div>
{% endblock content %}