{% extends "BroadviewCOSS/master.html" %}
{% load static %}
{% block app-title %}
    <div>
        <h1><i class="fa fa-laptop fa-fw"></i> 主机管理</h1>
        <p></p>
        <p></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'BroadviewCOSS:index' %}"><i class="fa fa-home fa-lg fa-fw"></i></a></li>
        <li class="breadcrumb-item active"><i class="fa fa-laptop fa-lg fa-fw"></i> 主机管理</li>
    </ul>
{% endblock app-title %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body"></div>
                <table class="table table-hover table-bordered content-table">
                    <thead>
                        <tr>
                            <th>IP</th>
                            <th>主机名称</th>
                            <th>状态</th>
                            <th>分类</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}