{% extends "BroadviewCOSS/base.html" %}
{% load static %}
{% block title %}
    <title>运维调度平台</title>
{% endblock title %}
{% block bodyattrs %}
    class="app sidebar-mini rtl"
{% endblock bodyattrs %}
{% block context %}
    <header class="app-header">
        <a class="app-header__logo" href="{% url 'BroadviewCOSS:index' %}">运维调度平台</a>
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="隐藏工具栏"></a>
        <ul class="app-nav">
            <li class="app-nav__item">欢迎你，管理员</li>
            <li>
                <a class="app-nav__item" href="{% url 'BroadviewCOSS:login' %}">
                    <i class="fa fa-sign-out fa-lg"></i> 退出
                </a>
            </li>
        </ul>
    </header>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <ul class="app-menu">
            {% for menu in menus %}
                {% if menu.sub == 0 and menu.parent == 0 %}
                    <li>
                        <a class="app-menu__item {% if active == menu.url %} active {% endif %}" href="/{{ menu.url }}">
                            <i class="app-menu__icon fa {{ menu.icon }} fa-fw"></i>
                            <span class="app-menu__label">{{ menu.name }}</span>
                        </a>
                    </li>
                {% elif not menu.sub == 0 %}
                    <li class="treeview is-expanded">
                        <a class="app-menu__item" href="#" data-toggle="treeview">
                            <i class="app-menu__icon fa {{ menu.icon }} fa-fw"></i>
                            <span class="app-menu__label">{{ menu.name }}</span>
                            <i class="treeview-indicator fa fa-angle-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            {% for sub in menus %}
                                {% if sub.parent == menu.id %}
                                    <li>
                                        <a class="treeview-item {% if active == sub.url %} active {% endif %}"
                                           href="/{{ sub.url }}">
                                            <i class="icon fa {{ sub.icon }} fa-fw"></i>
                                            {{ sub.name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </aside>
    <main class="app-content">
        <div class="app-title">
            {% block app-title %}
            {% endblock app-title %}
        </div>
        {% block content %}
        {% endblock content %}
    </main>
{% endblock context %}
{% block js %}
    <script src="{% static "BroadviewCOSS/js/plugins/dataTables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "BroadviewCOSS/js/plugins/dataTables/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "BroadviewCOSS/js/plugins/select2/select2.min.js" %}"></script>
    <script src="{% static "BroadviewCOSS/js/plugins/select2/zh-CN.js" %}"></script>
    <script src="{% static "BroadviewCOSS/js/plugins/notify/bootstrap-notify.min.js" %}"></script>
    <script src="{% static "BroadviewCOSS/js/plugins/sweetalert/sweetalert.min.js" %}"></script>

    {% block selfjs %}
    {% endblock selfjs %}
{% endblock js %}