{% extends "BroadviewCOSS/master.html" %}
{% load static %}
{% block app-title %}
    <div>
        <h1><i class="fa fa-plus fa-fw"></i> 添加角色</h1>
        <p></p>
        <p></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'BroadviewCOSS:index' %}"><i class="fa fa-home fa-lg fa-fw"></i></a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-cog fa-lg"></i> 系统管理</li>
        <li class="breadcrumb-item"><a href="{% url 'BroadviewCOSS:role' %}"><i class="fa fa-users fa-lg fa-fw"></i>
            角色管理</a></li>
        <li class="breadcrumb-item active"><i class="fa fa-plus fa-lg fa-fw"></i> 添加角色</li>
    </ul>
{% endblock app-title %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <form id="role-add-form" action="{% url 'BroadviewCOSS:add-role' %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="tile-body">
                        <div class="form-group row">
                            <label for="role-name" class="control-label col-md-3">
                                角色名称
                                <sup><span style="color:red">*</span></sup>
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="role-name" name="role-name"
                                       placeholder="请输入角色名称">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="role-permission-add" class="control-label col-md-3">
                                角色权限
                                <sup><span style="color:red">*</span></sup>
                            </label>
                            <div class="col-md-9">
                                <select class="form-control" id="role-permission-add" name="role-permission">
                                    <option value=""></option>
                                    {% for p in permissions %}
                                        <option value="{{ p.id }}">{{ p }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="role-menu-add" class="control-label col-md-3">
                                可访问菜单
                                <sup><span style="color:red">*</span></sup>
                            </label>
                            <div class="col-md-9">
                                <select class="form-control" id="role-menu-add" name="role-menu"
                                        multiple="multiple">
                                    {% for menu in menus %}
                                        {% if menu.parent == 0 %}
                                            <option value="{{ menu.id }}">{{ menu.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="role-desc" class="control-label col-md-3">角色描述</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="role-desc" name="role-desc" rows="4"
                                          placeholder="请输入角色描述"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="tile-footer">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-3">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-fw fa-lg fa-check-circle"></i>提交
                                </button>
                                <a class="btn btn-secondary" href="#">
                                    <i class="fa fa-fw fa-lg fa-times-circle"></i>取消
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block selfjs %}
    <script type="text/javascript">
        'use strict';
        $("#role-permission-add").select2({
            placeholder: '请选择',
            language: 'zh-CN',
        });
        $("#role-menu-add").select2({
            placeholder: '请至少选择一项',
            language: 'zh-CN',
            closeOnSelect: false
        });
        $("#role-add-form").validate({
            ignore: "",
            rules: {
                "role-name": {
                    required: true,
                    remote: {
                        url: "{% url "BroadviewCOSS:role-name-validate" %}",
                        type: "post",
                        data: {
                            "role_name": function() {
                                return $("#role-name").val();
                            }
                        }
                    }
                },
                "role-permission": {
                    required: true
                },
                "role-menu": {
                    required: true
                },
            },
            messages: {
                "role-name": {
                    required: "请输入角色名称",
                    remote: "角色名已存在，请重新输入"
                },
                "role-permission": {
                    required: "请选择角色权限"
                },
                "role-menu": {
                    required: "请选择角色的可访问菜单"
                },
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                error.addClass("invalid-feedback");
                element.parent(".col-md-9").append(error);
            },
            highlight: function (element) {
                if (element.name === "role-permission"){
                    $(".select2-selection--single").css("border-color", "#dc3545");
                } else if (element.name === "role-menu"){
                    $(".select2-selection--multiple").css("border-color", "#dc3545");
                }
                $(element).addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element) {
                if (element.name === "role-permission"){
                    $(".select2-selection--single").css("border-color", "#28a745");
                } else if (element.name === "role-menu"){
                    $(".select2-selection--multiple").css("border-color", "#28a745");
                }
                $(element).addClass("is-valid").removeClass("is-invalid");
            }
        });
        $("#role-permission-add").change(function () {
            $(this).valid();
        });
        $("#role-menu-add").change(function () {
            $(this).valid();
        });

        let r = "{{ result.value }}";
        if (r) {
            if (r === "True") {
                $.notify({
                    message: '{{ result.message }}',
                    icon: 'fa fa-check'
                }, {
                    type: 'success',
                    mouse_over: 'pause'
                })
            } else if (r === "False") {
                $.notify({
                    message: '{{ result.message }}',
                    icon: 'fa fa-close'
                }, {
                    type: 'danger',
                    mouse_over: 'pause'
                })
            }
        }
    </script>
{% endblock selfjs %}