{% extends "BroadviewCOSS/master.html" %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-caret-square-o-right fa-fw"></i> 运行作业</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'BroadviewCOSS:index' %}">
                    <i class="fa fa-home fa-lg fa-fw"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'BroadviewCOSS:task' %}">
                    <i class="fa fa-tasks fa-lg fa-fw"></i> 作业管理
                </a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-caret-square-o-right fa-lg fa-fw"></i> 运行作业
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <form id="task-add-form">
                    <div class="tile-body">
                        <div class="form-group row">
                            <label for="t-name" class="control-label col-md-3">
                                开始时间
                                <sup><span style="color:red">*</span></sup>
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="t-name" name="t-name"
                                       placeholder="请输入任务名称">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}