{% extends "BroadviewCOSS/master.html" %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-tasks fa-fw"></i> 任务管理</h1>
            <p></p>
            <p></p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'BroadviewCOSS:index' %}"><i class="fa fa-home fa-lg fa-fw"></i></a></li>
            <li class="breadcrumb-item active"><i class="fa fa-tasks fa-lg fa-fw"></i> 任务管理</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-title">
                    <p>
                        <a href="{% url 'BroadviewCOSS:add-task' %}">
                            <button class="btn btn-outline-primary">
                                <i class="fa fa-plus-circle fa-fw"></i>添加
                            </button>
                        </a>
                    </p>
                </div>
                <div class="tile-body">
                    <table class="table table-hover table-bordered content-table">
                        <thead>
                            <tr>
                                <th>任务名称</th>
                                <th>影响的分类</th>
                                <th>影响的主机</th>
                                <th>最后修改时间</th>
                                <th>创建人</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for t in tasks %}
                            <tr>
                                <td>{{ t.name }}</td>
                                <td>{{ t.category.name }}</td>
                                <td>{{ t.mainframe.hostname }}</td>
                                <td>{{ t.last_update }}</td>
                                <td>{{ t.user.username }}</td>
                                <td>
                                    <a href="">
                                        <button class="btn btn-outline-primary btn-sm">
                                            <i class="fa fa-asterisk fa-fw"></i>详情
                                        </button>
                                    </a>
                                    <a href="">
                                        <button class="btn btn-outline-success btn-sm">
                                            <i class="fa fa-caret-square-o-right fa-fw"></i>运行
                                        </button>
                                    </a>
                                    <a href="{% url "BroadviewCOSS:update-task" %}?m-id={{ m.id }}">
                                        <button class="btn btn-outline-info btn-sm">
                                            <i class="fa fa-edit fa-fw"></i>修改
                                        </button>
                                    </a>
                                    <button class="btn btn-outline-danger btn-sm"
                                            onclick="deleteObject('{% url "BroadviewCOSS:delete-task" %}', {{ m.id }});">
                                        <i class="fa fa-close fa-fw"></i>删除
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}