{% extends "BroadviewCOSS/master.html" %}
{% load static %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-asterisk fa-fw"></i> 作业详情</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'BroadviewCOSS:index' %}">
                    <i class="fa fa-home fa-lg fa-fw"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'BroadviewCOSS:task' %}">
                    <i class="fa fa-tasks fa-lg fa-fw"></i> 作业管理
                </a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-asterisk fa-lg fa-fw"></i> 作业详情
            </li>
        </ul>
    </div>
    <div class="tile mb-4">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="mb-3 line-head">基本信息</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <dl class="row">
                    <dt class="col-md-3">名称</dt>
                    <dd class="col-md-9">{{ task.name }}</dd>

                    <dt class="col-md-3">目标分类</dt>
                    <dd class="col-md-9">
                        {% if task.categories %}
                            {{ task.categories | join:"," }}
                        {% else %}
                            /
                        {% endif %}
                    </dd>

                    <dt class="col-md-3">目标主机</dt>
                    <dd class="col-md-9">
                        {% if task.mainframes %}
                            {{ task.mainframes | join:"," }}
                        {% else %}
                            /
                        {% endif %}
                    </dd>

                    <dt class="col-md-3">创建时间</dt>
                    <dd class="col-md-9">
                        {% if task.create_date %}
                            {{ task.create_date | date:'Y-m-d H:i:s' }}</dd>
                        {% else %}
                            /
                        {% endif %}

                    <dt class="col-md-3">最后修改时间</dt>
                    <dd class="col-md-9">
                        {% if task.last_update %}
                            {{ task.last_update | date:'Y-m-d H:i:s' }}
                        {% else %}
                            /
                        {% endif %}
                    </dd>

                    <dt class="col-md-3">最后修改用户</dt>
                    <dd class="col-md-9">{{ task.user }}</dd>

                    <dt class="col-md-3">内容</dt>
                    <dd class="col-md-9">{{ task.task | linebreaksbr }}</dd>

                    <dt class="col-md-3">描述</dt>
                    <dd class="col-md-9">{{ task.description | linebreaksbr }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="tile mb-4">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="mb-3 line-head">运行情况</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover table-bordered content-table">
                    <thead>
                    <tr>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>状态</th>
                        <th>返回信息</th>
                        <th>执行用户</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tr in taskrun %}
                        <tr>
                            <td>
                                {% if tr.start_time %}
                                    {{ tr.start_time | date:'Y-m-d H:i:s' }}
                                {% else %}
                                    /
                                {% endif %}
                            </td>
                            <td>
                                {% if tr.end_time %}
                                    {{ tr.end_time | date:'Y-m-d H:i:s' }}
                                {% else %}
                                    /
                                {% endif %}
                            </td>
                            <td>
                                {% if tr.status == 0 %}
                                    <i class="fa fa-check fa-fw text-success"></i> 运行完毕
                                {% elif tr.status == 1 %}
                                    <i class="fa fa-times fa-fw text-danger"></i> 运行错误
                                {% elif tr.status == 2 %}
                                    <i class="fa fa-pause fa-fw text-warning"></i> 等待执行
                                {% else %}
                                    <i class="fa fa-caret-square-o-right fa-fw text-primary"></i> 正在执行
                                {% endif %}
                            </td>
                            <td>{{ tr.result | linebreaksbr }}</td>
                            <td>{{ tr.user.username }}</td>
                            <td>
                                <button class="btn btn-outline-info btn-sm " data-toggle="modal"
                                        data-target="#tr-modal" data-whatever="{{ tr.id }}"
                                        {% ifnotequal tr.status 2 %} disabled  {% endifnotequal %}>
                                    <i class="fa fa-edit fa-fw"></i>修改
                                </button>
                                <button class="btn btn-outline-danger btn-sm"
                                        onclick="deleteObject('{% url "BroadviewCOSS:delete-taskrun" %}', {{ tr.id }});"
                                        {% ifnotequal tr.status 2 %} disabled {% endifnotequal %}>
                                    <i class="fa fa-close fa-fw"></i>删除
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block modal %}
    <div class="modal fade" id="tr-modal" tabindex="-1" role="dialog"
         aria-labelledby="tr-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tr-modal-title">添加作业运行计划</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="taskrun-update-form">
                        {% csrf_token %}
                        <input title="id" name="tr-id" id="tr-id" hidden>
                        <label for="datetimepicker" class="col-form-label">开始时间</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="add-on">
                                    <i class="fa fa-calendar fa-fw"></i>
                                </span>
                            </div>
                            <input class="form-control" id="start-time-update" name="start-time"
                                   aria-describedby="add-on"
                                   placeholder="请选择作业开始时间" readonly>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="taskRunUpdateSubmit();">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}
{% block js %}
    <script type="text/javascript">
        'use strict';

        $('#tr-modal').on('show.bs.modal', function (event) {
            let id = $(event.relatedTarget).data('whatever');
            $(this).find('input[id="tr-id"]').val(id);
        });

        $.datetimepicker.setLocale('zh');
        $('#start-time-update').datetimepicker({
            value: new Date(),
            step: 5,
            minTime: new Date(),
            startDate: new Date()
        });

        function taskRunUpdateSubmit() {
            let data = JSON.stringify($('#taskrun-update-form').serializeObject());
            $.ajax({
                url: "{% url "BroadviewCOSS:update-taskrun" %}",
                type: "POST",
                data: data,
                success: function (data) {
                    let dataObj = JSON.parse(data);
                    swal({
                        title: dataObj.message,
                        type: dataObj.result ? "success" : "error",
                        confirmButtonText: "确认",
                    }, function () {
                        if (this.type === "success") {
                            $('#tr-modal').modal('hide');
                            location.reload();
                        }
                    });
                },
                error: function (data) {
                    console.log(data)
                }
            })
        }
    </script>
{% endblock js %}